:root {


  overflow-x: hidden;
  /* All project colors */
  --black: #000;
  --primary: #EE6D26;
  --white: #fff;


  /* All project fonts */
  --quicksand: 'Quicksand', sans-serif;
  --inter: 'Inter', sans-serif;
  --aeonik_light: aeonik_light;
  --aeonik_regular: aeonik_regular;
  --aeonik_medium: aeonik_medium;
  --aeonik_bold: aeonik_bold;

  /* font size */
  --large : 58px;
  --medium : 40px;
  --regular : 25px;
  --small : 15px;
  --title : 18px;

  --large_tab : 40px;
  --medium_tab : 30px;
  --regular_tab : 22px;


  --large_mob : 40px;
  --regular_mob : 17px;
  --small_mob : 12px;
  

  /* global padding */
  --global : 64px;

}

html{
  scroll-behavior:smooth;
}

body {
  padding: 0;
  margin: 0;

  background-color: var(--black);
  color: white;
  scroll-behavior: smooth !important;
  overflow-x: hidden;

}

ul{
  list-style-type: none;  
}

a:link{
  scroll-behavior: smooth !important ;
  text-decoration: none;
  color: var(--white);
}

/* scroll bar */
::-webkit-scrollbar {
  width: 8px;
  
}

/* Track */
::-webkit-scrollbar-track {
  background: black;
  border-right: 5px black solid;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(61, 61, 61);
  border-right: 5px black solid;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(34, 34, 34);
  border-right: 5px black solid;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}


@font-face {
  font-family: aeonik_light;
  src: url(AeonikProFont/AeonikProLight.ttf);
}
@font-face {
  font-family: aeonik_regular;
  src: url(AeonikProFont/AeonikProRegular.ttf);
}
@font-face {
  font-family: aeonik_medium;
  src: url(AeonikProFont/AeonikProMedium.ttf);
}
@font-face {
  font-family: aeonik_bold;
  src: url(AeonikProFont/AeonikProBold.ttf);
}